<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trabalhofinalrestaurante">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Final"></activity>
        <activity android:name=".Pagamento" />
        <activity android:name=".Entradas" />
        <activity android:name=".Sobremesa" />
        <activity android:name=".Peixe" />
        <activity android:name=".Carnes" />
        <activity android:name=".bebidas" />
        <activity android:name=".Ementa" />
        <activity android:name=".Mesa_Util_Escolha" />
        <activity android:name=".Login" />
        <activity android:name=".registo_util" />
        <activity android:name=".Escolha_Mesa" />
        <activity android:name=".Consulta_TipoProdutos" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>